<div class="card my-5">
  <div class="card-body">
    <!-- Error alert -->
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>

    <!-- Loading alert -->
    <div *ngIf="!errorMessage && !contacts.length" class="alert alert-info" role="alert">
        Loading contact list...
    </div>

    <table *ngIf="contacts.length" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
          <td>
            <!-- Contact actions -->
            <div class="btn-group" role="group" aria-label="Contact actions">
              <a routerLink="/contacts/{{ contact.id }}" class="btn btn-primary">View</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>