<!-- Error and loading alert -->
<div *ngIf="errorMessage" class="alert alert-danger mb-1" role="alert">
    {{ errorMessage }}
</div>
<div *ngIf="!errorMessage && !contacts.length" class="alert alert-info mb-1" role="alert">
  <div class="spinner-border spinner-border-sm me-2" role="status"></div>Loading contact list...
</div>

<!-- Data table -->
<div class="card" *ngIf="contacts.length">
  <h5 class="card-header">
      <div class="row">
        <div class="col">
          All Contacts
        </div>
        <div class="col">
          <input (change)="updateSearch($event)" name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
      </div>
  </h5>
  <div class="card-body overflow-auto">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of filteredContacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
          <td>
            <!-- Contact actions -->
            <div class="btn-group" role="group" aria-label="Contact actions">
              <a routerLink="/contacts/{{ contact.id }}" class="btn btn-primary">View</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>