<!-- Error and loading alert -->
<div *ngIf="errorMessage" class="alert alert-danger mb-3" role="alert">
  <strong>An error occurred!</strong> {{ errorMessage }}
</div>
<div *ngIf="!errorMessage && (contactDatasource.loading$ | async)" class="alert alert-info mb-3" role="alert">
  <div class="spinner-border spinner-border-sm me-2" role="status"></div>Loading contact list...
</div>

<!-- Only show contact list when data is ready -->
<mat-card>
  <mat-card-header>
    <mat-card-title>All Contacts</mat-card-title>
    <mat-card-subtitle *ngIf="activeTagTitle">Filtered by tag "{{ activeTagTitle }}"</mat-card-subtitle>
    <mat-form-field appearance="fill" class="search-input">
      <mat-label>Search Contacts</mat-label>
      <input (input)="updateSearch()" matInput type="search" [(ngModel)]="searchValue">
      <mat-hint>Filter by Name, Email or Phone</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hide columns</mat-label>
      <mat-select (selectionChange)="hideColumnsSelectionChange($event)" [(value)]="contactColumnsPrevSel" multiple>
        <mat-option *ngFor="let col of contactColumns" [value]="col">{{ col }}</mat-option>
      </mat-select>
      <mat-hint>Select which columns to exclude</mat-hint>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <!-- Data table -->
    <table mat-table [dataSource]="contactDatasource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let contact">{{contact.id}}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let contact">{{contact.firstName}}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let contact">{{contact.lastName}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let contact"><a href="mailto:{{ contact.email }}">{{contact.email}}</a></td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let contact">{{contact.phone}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let contact">
          <a mat-icon-button color="primary" (click)="editContact(contact)">
            <mat-icon>edit</mat-icon>
          </a>
          <a mat-icon-button color="warn" (click)="deleteContact(contact)">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="contactColumnsFiltered"></tr>
      <tr mat-row *matRowDef="let row; columns: contactColumnsFiltered;"></tr>
    </table>
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="contactDatasource.counter$ | async" (page)="updateTable($event)"></mat-paginator>
  </mat-card-content>
</mat-card>