<mat-sidenav-container class="sidenav-container">
  <!-- Tag subnavigation -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Tags</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/all" [ngClass]="{'active': activeTagTitle === ''}">All Contacts</a>
      <a *ngFor="let tag of tags" mat-list-item routerLink="/all/{{ tag.title }}" class="text-capitalize" [ngClass]="{'active': tag.title === activeTagTitle}">
        {{ tag.title }}
        <button matSuffix mat-icon-button color="warn" class="align-right" aria-label="Delete Tag" (click)="deleteTag(tag)">
          <mat-icon>delete</mat-icon>
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main Navigation -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="navbar-brand">Contact Manager</span>
      <button mat-button routerLink="/all" class="mx-2">List Contacts</button>
      <button mat-button routerLink="/add">New Contact</button>
      <span class="nav-spacer"></span>
      <button mat-stroked-button color="warn" (click)="openResetDialog()">Reset</button>
    </mat-toolbar>
    <!-- Content -->
    <main class="m-5">
      <!-- Renders output of routerLink attribute evaluation -->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>