<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Contact Manager</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="redirectTo('/all')" class="nav-link" href="javascript:void(0)">List Contacts</a>
        </li>
        <li class="nav-item">
          <a (click)="redirectTo('/add')" class="nav-link" href="javascript:void(0)">New Contact</a>
        </li>
      </ul>
      <!-- Database operations (clear and reset) -->
      <button class="btn btn-outline-danger me-1" (click)="resetDb(0)">Clear</button>
      <button class="btn btn-outline-danger" (click)="resetDb(10)">Reset</button>
    </div>
  </div>
</nav>
<!-- Content -->
<main class="py-5">
  <div class="container">
    <div class="row">
      <!-- Tag subnavigation -->
      <div class="col-md-3">
        <div *ngIf="tags.length" class="list-group mb-3">
          <a (click)="redirectTo('/all')" href="javascript:void(0)" [ngClass]="{'active': activeTagTitle === ''}" class="list-group-item">All Contacts</a>
          <a *ngFor="let tag of tags" (click)="redirectTo('/all/' + tag.title)" [ngClass]="{'active': tag.title === activeTagTitle}" href="javascript:void(0)" class="list-group-item text-capitalize">{{ tag.title }}</a>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Renders output of routerLink attribute evaluation -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>