<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Contact Manager</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="redirectTo('/all')" class="nav-link" href="javascript:void(0)">List Contacts</a>
        </li>
        <li class="nav-item">
          <a (click)="redirectTo('/add')" class="nav-link" href="javascript:void(0)">New Contact</a>
        </li>
      </ul>
      <!-- Reset database records -->
      <button class="btn btn-outline-danger" (click)="resetDb()">Reset</button>
    </div>
  </div>
</nav>
<!-- Content -->
<main class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group mb-3">
          <a (click)="redirectTo('/all')" href="javascript:void(0)" class="list-group-item d-flex justify-content-between active">All Contacts <span class="badge bg-secondary">{{ numberOfContacts }}</span></a>
          <a href="javascript:void(0)" class="list-group-item disabled">Recent</a>
          <a href="javascript:void(0)" class="list-group-item disabled">Favorites</a>
          <a href="javascript:void(0)" class="list-group-item disabled">Other</a>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Renders output of routerLink attribute evaluation -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>