.navbar-brand {
	font-weight: bold;
	letter-spacing: -1px;
}

.sidenav-container {
	height: 100%;
}
  
.sidenav {
	width: 200px;
}
  
.sidenav .mat-toolbar {
	background: inherit;
}
  
.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav-spacer {
	flex: 1 1 auto;
}

a.active,
a.active:hover,
a.active:focus {
	background: #a7a7a7;
    color: #ffffff;
}

.align-right {
	margin-left: auto;
}

/* Fade icon in and out on hover */
mat-icon {
	display: none;
}

a:hover mat-icon {
	display: inline;
}

.badge {
    font-size: 1em;
}