<!-- Error and loading alert -->
<div *ngIf="errorMessage" class="alert alert-danger mb-3" role="alert">
  <strong>An error occurred!</strong> {{ errorMessage }}
</div>
<div *ngIf="!errorMessage && !contact" class="alert alert-info mb-3" role="alert">
  <div class="spinner-border spinner-border-sm me-2" role="status"></div>Loading contact...
</div>

<!-- Present all contact information and actions -->
<mat-card *ngIf="contact">
  <mat-card-title>Contact #{{ contact.id }}</mat-card-title>
  <mat-card-content>
    <!-- List all contact attributes -->
    <div class="row mb-3">
      <p class="col-sm-2 col-form-label">First Name</p>
      <div class="col-sm-10"><p class="form-control-plaintext">{{ contact.firstName }}</p></div>
    </div>
    <div class="row mb-3">
      <p class="col-sm-2 col-form-label">Last Name</p>
      <div class="col-sm-10"><p class="form-control-plaintext">{{ contact.lastName }}</p></div>
    </div>
    <div class="row mb-3">
      <p class="col-sm-2 col-form-label">Email</p>
      <div class="col-sm-10"><a class="form-control-plaintext" href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
    </div>
    <div class="row mb-3">
      <p class="col-sm-2 col-form-label">Phone Number</p>
      <div class="col-sm-10"><p class="form-control-plaintext">{{ contact.phone }}</p></div>
    </div>
    <div class="row mb-3">
      <p class="col-sm-2 col-form-label">Tags</p>
      <div class="col-sm-10">
        <span class="badge bg-secondary me-1 mt-1 p-2 text-capitalize" *ngFor="let tag of contact.tags">
          <a routerLink="/all/{{ tag.title }}" class="link-light">{{ tag.title }}</a>
        </span>
      </div>
    </div>
    <div class="mb-3">
      <p class="col-form-label">Description & Notes</p>
      <div class="card">
        <div class="card-body">
          <pre>{{ contact.description }}</pre>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <!-- Edit or delete contact -->
    <button mat-raised-button color="primary" (click)="editContact(contact)">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteContact(contact)">Delete</button>
    <!-- Navigate back to contact list -->
    <a mat-stroked-button (click)="redirectBack()">Back</a>
  </mat-card-actions>
</mat-card>